In [100]:
import numpy as np
import pandas as pd

# 1. 求2+4+6+8+...+100的和

In [101]:
s = 0
for i in range(0,102,2):
   s += i
print(s)

2550

# 2. 统计全班的成绩

In [102]:
from pandas import DataFrame,Series
data = {'Chinese': [66, 95, 93, 90,80], 'Math': [30, 98, 96, 77, 90], 'English': [65, 85, 92, 88, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'LiuBei', 'DianWei', 'XuChu'], columns=['Chinese', 'Math', 'English'])
df2.describe()
# print(df2)

         Chinese       Math    English
count   5.000000   5.000000   5.000000
mean   84.800000  78.200000  84.000000
std    11.987493  28.163807  10.931606
min    66.000000  30.000000  65.000000
25%    80.000000  77.000000  85.000000
50%    90.000000  90.000000  88.000000
75%    93.000000  96.000000  90.000000
max    95.000000  98.000000  92.000000

In [103]:
# 求各人的成绩和
print(df2)
df2['Sum'] = df2.apply(lambda x: x.sum(), axis=1)

          Chinese  Math  English
ZhangFei       66    30       65
GuanYu         95    98       85
LiuBei         93    96       92
DianWei        90    77       88
XuChu          80    90       90

In [104]:
print(df2)
df2 = df2.sort_values('Sum', ascending=False)

          Chinese  Math  English  Sum
ZhangFei       66    30       65  161
GuanYu         95    98       85  278
LiuBei         93    96       92  281
DianWei        90    77       88  255
XuChu          80    90       90  260

In [105]:
df2.reset_index(inplace=True)
df2= df2.rename(columns={'index':'Name'})
print(df2)

       Name  Chinese  Math  English  Sum
0    LiuBei       93    96       92  281
1    GuanYu       95    98       85  278
2     XuChu       80    90       90  260
3   DianWei       90    77       88  255
4  ZhangFei       66    30       65  161

# 3. 对汽车质量数据进行统计

In [157]:
df3 = pd.read_csv('car_complain.csv')
df3.head()

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020-06-08,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020-06-08,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020-06-08,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020-06-08,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020-06-08,厂家受理

In [158]:
def f(x):
    x = x.replace('一汽-大众','一汽大众')
    return x

In [159]:
# pd.get_dummies(df3['brand'])
df3['brand'] = df3['brand'].apply(f)
# df3.loc[df3['brand'] == '一汽-大众','brand'] = '一汽大众'
df3 = df3.drop('problem',axis=1).join(df3.problem.str.get_dummies(','))
df3.head()

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,482022,一汽大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,2020-06-08,厂家受理,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [160]:
result = df3.groupby(['brand'])['id'].agg(['count'])

result

        count
brand
一汽丰田       12
一汽吉林        2
一汽大众       58
一汽大众奥迪     19
一汽奔腾        6
...       ...
长安汽车        6
长安铃木        2
长安马自达       4
雷克萨斯        2
领克汽车        5

[74 rows x 1 columns]

In [161]:
tages = df3.columns[7:]
# result5 = df3.groupby(['brand'])['A11','A114'].agg(['count'])
# result5
result2 = df3.groupby(['brand'])[tages].agg(['sum'])
result2

,A11,A114,A12,A13,A136,A14,A145,A163,A174,A18,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,...,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
一汽大众奥迪,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽奔腾,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [162]:
result2 = result.merge(result2,left_index = True,right_index=True, how='left')
result2

E:\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,12,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,58,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
一汽大众奥迪,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽奔腾,6,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [163]:
result2.to_csv('result.csv')

In [164]:
#按照count来排序
result2.sort_values('count',ascending=False)

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
brand,,,,,,,,,,,,,,,,,,,,,
吉利汽车,96,0,0,1,0,0,1,0,0,0,...,0,0,0,0,7,0,0,0,0,1
一汽马自达,95,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,58,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
上汽大众,36,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
一汽大众奥迪,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
天津一汽,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
多士星,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
北汽新能源,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
北汽昌河,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
东风小康,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [167]:
query = ('A12','sum')
result2.sort_values(query,ascending=False)

,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)","(A174, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
brand,,,,,,,,,,,,,,,,,,,,,
上汽集团,15,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
吉利汽车,96,0,0,1,0,0,1,0,0,0,...,0,0,0,0,7,0,0,0,0,1
一汽大众奥迪,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
广汽本田,12,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
玛莎拉蒂,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
凯翼汽车,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
众泰汽车,13,0,0,0,0,0,1,0,0,0,...,6,0,0,0,0,0,0,0,0,0
东风风行,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
东风雷诺,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0